*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    all: unset;
    cursor: pointer;
}

@font-face {
    font-family: jslblack;
    src: url(JBLACK.TTF);
}

h1 {
    font-family: jslblack;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
}

body {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 10vh 80vh 10vh;
}

.gridarea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#centreimg:hover {
    filter: invert();
    background-color: black;
}

#contact, #listen {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -10px;
}

#listen {
    letter-spacing: -5px;
}

#socialbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -50%;
    /* transition: 0.5s; */
    transform: translate(50% );
}

#contactbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -50%;
    /* transition: 0.5s; */
    transform: translate(-50% );
}

#topcentre:hover{
    #stone {
        filter: invert();
        background-color: rgb(255, 255, 255);
    }
}

#bottomcentre:hover{
    #swords {
        filter: invert();
        background-color: rgb(255, 255, 255);
    }
}

#rightcentre:hover{
    #socialbar{
        right: 50%;
        filter: invert();
        background-color: rgb(255, 255, 255);
    }
    #listen {
        opacity: 0;
    }
}

#leftcentre:hover{
    #contactbar{
        left: 50%;
        filter: invert();
        background-color: rgb(255, 255, 255);
    }
    #contact {
        opacity: 0;
    }
}

.socialicon {
    width: 40px;
    margin: 5px;
}

#bottomright {
    overflow: visible;
}

#credit {
    position: absolute;
    bottom: 0;
    right: 0;
    white-space: pre;
    color: white;
   
}

#credit:hover {
    background-color: black;
}

img {
    width: 150px;
}

